controller/__pycache__/big_reddog_isaaclab.cpython-310.pyc
capo_estimator/__pycache__/big_reddog.cpython-310.pyc
capo_estimator/__pycache__/big_reddog.cpython-310.pyc
capo_estimator/__pycache__/__init__.cpython-310.pyc
capo_estimator/__pycache__/__init__.cpython-310.pyc
capo_estimator/__pycache__/big_reddog.cpython-310.pyc
controller/logs/capo_results.png
controller/logs/history_data.png
controller/logs/sipo_results.png
controller/logs/sipo_vs_capo.png
